kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: demooci-ffsw-{{TEST_ID}}
spec:
  storageClassName: "ffsw"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
