kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: demooci-no-ad-{{TEST_ID}}
spec:
  storageClassName: "oci"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
