kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: demooci-from-backup-{{TEST_ID}}
  annotations:
    volume.beta.kubernetes.io/oci-volume-source: {{BACKUP_ID}}
spec:
  storageClassName: "oci"
  selector:
    matchLabels:
      failure-domain.beta.kubernetes.io/zone: "{{REGION}}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
