kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: demooci-fss-{{TEST_ID}}
spec:
  storageClassName: "oci-fss"
  selector:
    matchLabels:
      oci-availability-domain: "{{REGION}}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
