kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: oci-volume-provisioner-system-test-{{TEST_ID}}
rules:  
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["list"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaim"]
    verbs: ["get", "delete"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["create", "delete"]
  - apiGroups: [""]
    resources: ["replicationcontroller"]
    verbs: ["create", "delete"]
  - apiGroups: [""]
    resources: ["secret"]
    verbs: ["create", "delete"]
  - apiGroups: [""]
    resources: ["storageclass"]
    verbs: ["create", "delete"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: oci-volume-provisioner-system-test-{{TEST_ID}}
subjects:
  - kind: ServiceAccount
    name: oci-volume-provisioner-system-test-{{TEST_ID}}
    namespace: default
roleRef:
  kind: ClusterRole
  name: oci-volume-provisioner-system-test-{{TEST_ID}}
  apiGroup: rbac.authorization.k8s.io
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: oci-volume-provisioner-system-test-{{TEST_ID}}
  namespace: default
---
apiVersion: v1
kind: Pod
metadata:
  name: volume-provisioner-system-test-{{TEST_ID}}
spec:
  serviceAccountName: oci-volume-provisioner-system-test-{{TEST_ID}}
  containers:
  - name: volume-provisioner-system-test-{{TEST_ID}}
    image: iad.ocir.io/{{DOCKER_REGISTRY_USERNAME}}/oci-volume-provisioner-test:{{VERSION}}
  restartPolicy: Never
